/* CSS Reset - Browsers apply different default styles to elements, which can lead to inconsistent layouts. This reset ensures a clean slate. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Sets the box-sizing model to border-box for all elements, making element width and height calculations more predictable by including padding and borders in the specified width and height.  */
}

body {
  min-height: 100vh; /* sets body's height to the entire viewport's height */
  width: 100%; /* sets width to full parent element's (body) width; if we used vw a horizontal scroll bar will appear when height expands and requires a vertical scroll bar. This is because the vertical scroll bar takes up an additional 10px of width. */
  background-color: rgb(224, 224, 224);
  letter-spacing: 0.1rem;
}

body h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
}

body p {
  font-family: monospace;
}

/* ------- LANDING PAGE ------- */

.intro-vid {
  height: 80%;
  width: auto;
}

.intro-start-btn {
  border: 3px solid greenyellow;
  border-radius: 5px;
  background-color: black;
  color: greenyellow;
  padding: 15px 50px;
  margin-top: 10px;
  font-size: 1.9rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.intro-start-btn:hover {
  cursor: pointer;
  border-color: #ff68e8;
  background-color: black;
  color: #ff68e8;
}
/* ------- INTRO PAGE ------- */
.github-button {
  display: inline-block; /* Stack with other elements */
  padding: 10px 20px; /* Add some padding */
  color: #ffffff; /* White text */
  background-color: #24292e; /* GitHub dark gray */
  border: none; /* No border */
  border-radius: 5px; /* Slightly rounded corners */
  text-decoration: none; /* Remove underline */
  font-size: 1rem; /* Font size */
  font-weight: bold; /* Bold text */
  transition: background-color 0.3s ease; /* Smooth color transition */
  margin-top: 10px; /* Space above and below */
}
.github-button:hover {
  cursor: pointer;
}

.start-button {
  display: inline-block; /* Stack with other elements */
  padding: 10px 20px; /* Add some padding */
  color: greenyellow; /* White text */
  background-color: black; /* GitHub dark gray */
  border: 3px solid greenyellow; /* No border */
  border-radius: 5px; /* Slightly rounded corners */
  text-decoration: none; /* Remove underline */
  font-size: 1rem; /* Font size */
  transition: background-color 0.3s ease; /* Smooth color transition */
  margin: 10px 0; /* Space above and below */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.start-button:hover {
  cursor: pointer;
  color: #ff68e8;
  border-color: #ff68e8;
}
/* ------- LEVEL PAGES ------- */
.level {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.next-btn {
  border: solid 3px;
  border-radius: 10px;
  background-color: black;
  color: greenyellow;
  padding: 10px 20px;
  margin-top: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1rem;
}

.next-btn:hover {
  cursor: pointer;
  background-color: black;
  color: #ff68e8;
}

.navbar {
  position: relative;
  width: 35%;
}

.level-content {
  /* If you have sidebar push this container and want a transition effect */
  /* transition: margin-left 0.5s; */
  height: 100%;
  width: 100%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: -33%;
}

.titlescore-container {
  border: 3px solid black;
}

.level-title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.score-update {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

/* ------- NAVBAR COMPONENT STYLING ------- */
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  position: absolute; /* absolute - allows width% to be relative to parent; fixed - Stay in place but width% is relative to body Element*/
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  height: 100vh;
  width: 100vw;
}

/* The sidebar links */
.nav-title {
  padding: 20px;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  color: greenyellow;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.nav-title:hover {
  cursor: pointer;
  color: #ff68e8;
}

/* Position and style the close button (top right corner) */
.close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: greenyellow;
}

.close-btn:hover {
  color: #ff68e8;
  cursor: pointer;
}

/* The button used to open the navbar */
.open-btn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: greenyellow;
  padding: 10px 15px;
  border: none;
  /* sticky element toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). */
  /* position: sticky; */
  /* must specify at least one of top, right, bottom or left for sticky positioning to work. */
  /* top: 0; */
  /* left: 0; */
}

.open-btn:hover {
  cursor: pointer;
  color: #ff68e8;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .nav-title {
    font-size: 18px;
  }
} */

/* ------- SCORE PAGE STYLING ------- */
.score {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.score-display {
  border: solid 5px;
  border-radius: 20px;
  /* background-color: rgb(230, 230, 230); */
  /* background-color: blue; */
  width: auto;
  height: 50%;
  padding: 15rem 20rem;
  margin: 5% 10% 0 10%;
  position: relative;
  display: flex;
  max-width: 50%;
  /* background-color: black; */
  /* color: white; */
}

.game-over {
  border: solid 3px;
  border-radius: 10px;
  background-color: greenyellow;
  color: black;
  padding: 2%;
  position: absolute;
  top: -5%;
  left: 25%;
  right: 25%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.score-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  padding: 2rem;
  gap: 1rem;
  position: absolute;
  top: 10%;
  left: 15%;
  right: 15%;

  overflow-wrap: break-word;
  white-space: normal;
}

.player-score {
  margin: 5% 10% 0 5%;
}

.score-msg p {
  font-size: 1.1rem;
}

.player-feedbck {
  padding: 3rem 0;
}

.disclaimer {
  padding: 2rem 0;
  font-size: 1rem;
  font-family: fantasy;
}

.game-btn {
  border: solid 3px;
  border-radius: 10px;
  background-color: black;
  color: greenyellow;
  padding: 3%;
  position: absolute;
  bottom: -5%;
  left: 5%;
  right: 60%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.game-btn:hover {
  cursor: pointer;
  background-color: black;
  color: #ff68e8;
}

.leader-btn {
  border: solid 3px;
  border-radius: 10px;
  background-color: black;
  color: greenyellow;
  padding: 3%;
  position: absolute;
  bottom: -5%;
  right: 5%;
  left: 60%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.leader-btn:hover {
  cursor: pointer;
  background-color: black;
  color: #ff68e8;
}

/* ------- [File/Component] STYLING ------- */
